<% render_error = ->(obj, field) do
  if (errors = obj.errors[field]).present?
    tag.span errors.join(", "), class: "text-red-600"
  end
end %>

<% for_edit = order_item.id.present? %>

<%= form_with url: for_edit ? order_item_path(order_item) : order_items_path,
  method: for_edit ? :put : :post,
  model: order_item,
  class: "relative flex flex-col text-sm gap-4 bg-gray-50 px-5 py-3 rounded-sm" do |f|
%>
  <div class="flex gap-4">
    <div class="flex flex-col w-2/3">
      <%= f.label :name do %>
        Название
        <span class="text-red-600">*</span>
      <% end %>
      <%= f.text_field :name, autofocus: true, placeholder: "Введите название", class: "p-2 bg-white border border-gray-300 rounded-sm focus:outline-purple-500 w-full" %>
      <%= render_error.call(order_item, :name) %>
    </div>

    <div class="flex flex-col w-1/3">
      <%= f.label :name do %>
        Цена, руб
        <span class="text-red-600">*</span>
      <% end %>
      <%= f.number_field :price, placeholder: "Введите цену", class: "p-2 bg-white border border-gray-300 rounded-sm focus:outline-purple-500 w-full", step: 0.01, min: 0.01 %>
      <%= render_error.call(order_item, :price) %>
    </div>
  </div>

  <div class="flex flex-col">
    <%= f.label :description, "Описание" %>
    <%= f.text_area  :description, placeholder: "Введите описание", class: "p-2 bg-white border border-gray-300 rounded-sm focus:outline-purple-500 w-full" %>
    <%= render_error.call(order_item, :description) %>
  </div>

  <div>
    <%= render Components::Button.new(name: "order_item[submit]", type: :submit).with_content("#{for_edit ? "Обновить" : "Добавить"}") %>
  </div>

  <div class="absolute top-1 right-1">
    <%= link_to remove_form_order_items_path, data: { turbo_stream: true } do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    <% end %>
  </div>
<% end %>
