<!DOCTYPE html>
<html>
  <head>
    <title>Капля</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="container mx-auto">
    <header class="bg-white px-6 py-2.5">
      <div class="flex justify-between items-center mx-auto">
        <span class="text-xl font-semibold">Капля</span>
        <div class="flex justify-between w-auto">
          <ul class="flex mt-4 font-medium gap-8 text-gray-700">
            <li>
              <%= link_to "Заказы", orders_path %>
            </li>
            <li>
              <%= link_to "Позиции меню", order_items_path %>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
